<%layout('./layouts/boilerplate')%>

<div class="bg-local bg-cover" style="background-image: url(https://images.unsplash.com/photo-1451976426598-a7593bd6d0b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80)">
<h1 class="text-center py-80 text-4xl text-white">Welcome to Companies Capstone Homepage</h1>
</div>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <h1>Capstone Homepage</h1>
    <%- include("./partials/footer") %>
</body>
</html> -->