<% layout('./layouts/boilerplate') %>

<h1 class = "text-center text-4xl py-1 mb-1">Register</h1>

<div class="col-6 offset-3 mx-auto px-96 pb-36 pt-6">
<form action="/register" class="needs-validation" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <button>Register</button>
</form>
</div>