<% layout('./layouts/boilerplate') %>

<h1 class = "text-center text-4xl py-1 mb-1">Register</h1>

<div class="container mx-auto px-96 pb-36 pt-6">
<form class="px-32 py-3 rounded-t-lg rounded-b-lg" action="/register" class="needs-validation" method="POST" novalidate>
    <div class="mb-1">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-1">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
    </div>
    <div class="mb-2">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <div class ="mb-1 flex justify-end">
    <button class="btn btn-primary btn-sm rounded-full border-red-600 bg-red-600 hover:bg-red-600">Register</button>
    </div>
</form>
</div>